<div flex-xs flex-gt-xs="200" layout="column" ng-repeat="station in stations" layout-align="center">
	<!--<h3>{{station.line}}</h3>-->
 	  
	  <div ng-repeat="branch in station.branches">
		<md-content layout="column">
		<!--<h4>{{branch.name}}</h4> -->
	  <md-card ng-repeat="s in branch.stations">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{s}}</span>
            <span class="md-subhead">{{branch.name}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
	  
	  </div>
</div>