<div flex-xs flex-gt-xs="200" layout="column" layout-align="center">

		<md-content layout="column">
			<h3>Destination: 
			<md-button 
				ng-click="btn.isSelected = false; changeDestination(true)" 
				ng-class="{false: 'md-raised', true: 'md-raised md-primary'}[!btn.isSelected]">
				{{ last }}
			</md-button>
			
			<md-button 
				ng-click="btn.isSelected = true; changeDestination(false)" 
				ng-class="{true: 'md-raised', false: 'md-raised md-primary'}[!btn.isSelected]">
				{{ first }}
			</md-button>
			</h3> 
	    </md-switch>
	  <md-card ng-repeat="s in stations">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{s.name}}</span>
            <span class="md-subhead">{{s.route_name}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

</div>