<md-dialog aria-label="MBTA Transit Map" class="hw_100_per" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>MBTA Transit Map</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="clear" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="hw_100_per">
          <object data="static/images/map.pdf" type="application/pdf" class="hw_100_per"></object>
    </md-dialog-content>
</md-dialog>