<md-dialog aria-label="MBTA Transit Map" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>MBTA Transit Map</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="clear" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
          <img src="http://www.mbta.com/uploadedimages/Schedules_and_Maps/Subway/subway-spider.png" style="max-width:100%; max-height:100%" />
    </md-dialog-content>
</md-dialog>