body {
	text-align: center;
}

.Green {
	background-color: #008150 !important;
}

.Blue {
	background-color: #2F5DA6 !important;
}

.Orange {
	background-color: #FD8A03 !important;
}

.Red {
	background-color: #FA2D27 !important;
}

md-content {
	margin-left: auto;
	margin-right: auto;
}

md-card {
	width: 600px;
	height: 75px;
	padding-top: -10px;
	padding-left: 40px;
}

ng-md-icon {
	position: relative;
	top: 1px;
	fill: white;
}

.line_display {
	float: left;
	width: 10px;
	height: 143px;
	background-color: green;
	margin-left: 30px;
	margin-right: 20px;
}

.train_circle {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
	background-color: red;
    border-radius: 26px;
    width: 26px;
    height: 26px;
	position: relative;
	right: 8px;
}

.train_circle_hide {
	visibility: hidden;
}

.train_circle_in_transit {
	#background-color: orange;
	bottom: 30px;
}

.train_circle_at_station {
	#background-color: purple;
	top: 40px;
}
