body {
	text-align: center;
}

.Green {
	background-color: #008150 !important;
}

.Blue {
	background-color: #2F5DA6 !important;
}

.Orange {
	background-color: #FD8A03 !important;
}

.Red {
	background-color: #FA2D27 !important;
}

md-content {
	margin: 10px; 
 }